#hardware {
    width: 100%;
    margin: 0 auto;
}

.hardwareContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.switchWrapper {
    width: 50%;
    margin: 0 auto;
}

.switchText {
    margin: 9% 0 4% 12%;
}

.addonsWrapper {
    width: 40%;
    margin: 0 auto;
}

.switchText h1 {
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 2% 0;
    font-family: 'Heebo';
    position: relative;
}

.switchText h1::after {
    position: absolute;
    content: '299.99';
    left: 313px;
    font-size: 20px;
}

.switchText p {
    font-size: 15px;
    font-family: 'Heebo';
    font-weight: lighter;
}

.switchText a {
    font-family: 'Heebo';
    font-size: 14px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    margin-top: 2%;
}

.switchWrapper img {
    width: 555px;
    margin: 0 auto;
    display: flex;
}

.switchBtnCon {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 14% auto 0;
}

.switchBtnCon button {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #EBEBEB;
    border: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.switchBtnCon button:hover {
    background-color: red;
}

.switchBtnCon button:focus {
    background-color: red;
    outline: 0;
}

.addonsWrapper h2 {
    margin-top: 11%;
    font-family: 'Heebo';
    font-size: 34px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5%;
}

.addonsCon {
    display: flex;
    flex-wrap: wrap;
}

.addonsCon div {
    width: 208px;
    height: 188px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.342);
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    margin-right: 5%;
}

.addonsCon div img {
    width: 129px;
    height: 140px;
    margin: 0 auto;
}

.addonsCon div h2 {
    font-size: 17px;
    font-family: 'Heebo';
    font-weight: bold;
    margin-top: 4%;
}


/* Not happy with this, but since its just a mockup this will do */
.addonsCon div:nth-child(1) img { width: 106px; object-fit: contain; }
.addonsCon div:nth-child(2) img { width: 175px; object-fit: contain; }
.addonsCon div:nth-child(3) img { width: 144px; object-fit: contain; }
.addonsCon div:nth-child(4) img { width: 106px; height: 136px; }